<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0d97529e-a903-4b81-8297-e98d0bdabe15/resourceGroups/AlltBokatWebApi2RG/providers/Microsoft.Web/sites/AlltBokatWebApi2</ResourceId>
    <ResourceGroup>AlltBokatWebApi2RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://alltbokatwebapi2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>alltbokatwebapi2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AlltBokatWebApi2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AlltBokatWebApi2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=alltbokatwebapi2server.database.windows.net;Initial Catalog=AlltBokatWebApi2DB;Persist Security Info=True;User ID=david;Password=Vintergatan-155" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AlltBokatWebAPI.Models.ApplicationDbContext, AlltBokatWebAPI" MigrationConfiguration="AlltBokatWebAPI.Migrations.Configuration, AlltBokatWebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=alltbokatwebapi2server.database.windows.net;Initial Catalog=AlltBokatWebApi2DB;Persist Security Info=True;User ID=david;Password=Vintergatan-155</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=alltbokatwebapi2server.database.windows.net;Initial Catalog=AlltBokatWebApi2DB;Persist Security Info=True;User ID=david;Password=Vintergatan-155</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=alltbokatwebapi2server.database.windows.net;Initial Catalog=AlltBokatWebApi2DB;Persist Security Info=True;User ID=david;Password=Vintergatan-155</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=alltbokatwebapi2server.database.windows.net;Initial Catalog=AlltBokatWebApi2DB;Persist Security Info=True;User ID=david;Password=Vintergatan-155</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=alltbokatwebapi2server.database.windows.net;Initial Catalog=AlltBokatWebApi2DB;Persist Security Info=True;User ID=david;Password=Vintergatan-155</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=alltbokatwebapi2server.database.windows.net;Initial Catalog=AlltBokatWebApi2DB;Persist Security Info=True;User ID=david;Password=Vintergatan-155</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=alltbokatwebapi2server.database.windows.net;Initial Catalog=AlltBokatWebApi2DB;Persist Security Info=True;User ID=david;Password=Vintergatan-155</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=alltbokatwebapi2server.database.windows.net;Initial Catalog=AlltBokatWebApi2DB;Persist Security Info=True;User ID=david;Password=Vintergatan-155</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>